<%-include('layouts/header.ejs') %>
    <link rel="stylesheet" href="/css/breakout.css">
        <script src="/js/breakout.js"></script>
        <body>
            <canvas id="board"></canvas>
        </body>
<%-include('layouts/footer.ejs') %>
