<%-include('layouts/header.ejs') %>
<link rel="stylesheet" href="/css/mole.css">
<body>
    <div class="mario">
        <h1>Whac a Mole</h1>
    <h2 id="score">0</h2>
    <!-- 3x3 -->
    <div id="board">
    </div>
    </div>
</body>
<script src="/js/mole.js"></script>
<%-include('layouts/footer.ejs') %>