.sider 
  .inner-menu
    ul
        li 
            a(href=`/ad/dashboard`) Tổng quan 
        li 
            a(href=`/ad/roles`) Nhóm quyền
        li 
            a(href=`/ad/roles/permissions`) Phân quyền
        li 
            a(href=`/ad/accounts`) Danh sách tài khoản